[Unit]
Description=Actualización automática de Git cada 2 minutos

[Service]
Type=simple
ExecStart=/bin/bash /home/isaac/shTemp/actualizar_git_automatico.sh
WorkingDirectory=/home/isaac/holaNode/NodeServiceUnit
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=node-app

[Timer]
OnCalendar=*:0/2
Unit=actualizar_git_automatico.service

[Install]
WantedBy=multi-user.target
