[Unit]
Description=Actualizar Servicio

[Service]
Type=oneshot
ExecStart=/bin/bash /home/isaac/holaNode/NodeServiceUnit/actualizar_git_automatico.sh

[Install]
WantedBy=multi-user.target

[Timer]
OnUnitActiveSec=2min