[Unit]
Description=Actualizar Servicio

[Service]
Type=oneshot
ExecStart=/bin/bash -c "/home/isaacmelendez/helloNode/actualizar_servicio.sh"

[Timer]
OnUnitActiveSec=2min

[Install]
WantedBy=multi-user.target
