[Unit]
Description=Iniciar automaticamente mi Node.js
After=network.target

[Service]
ExecStart=/usr/bin/node /home/isaac/holaNode/NodeServiceUnit/node.js
WorkingDirectory=/home/isaac/holaNode/NodeServiceUnit
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=node-app

[Install]
WantedBy=multi-user.target